{% extends 'base.html.twig' %}

{% block title %}Заказы {{ username }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'orders.html.twig' with {'orders': orders} %}
    </div>
{% endblock %}
